*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
    font: 400 16px Roboto, sans-serif;
    background-color: #2477bc;
    -webkit-font-smoothing: antialiased;
    color: white;
}

button, a{
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1000px;
    padding: 32px 32px;
    margin: 100px auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: space-between;

    display: flex;
    align-items: center;
}

.container .info{
    width: 100%;
    max-width: 550px;
}

.container .info span{
    margin: 64px 0 32px;
    font-size: 32px;
    font-weight: 500;
    color: #f9b126;
}

.container .info h1{
    font-size: 60px;
}

.container .info p{
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
}

input, button, textarea{
    font: 400 16px Roboto, sans-serif;
}

.container .form h1{
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 45px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 10px;
}

form button{
    width: 100%;
    height: 45px;
    background-color: #f29206;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
}

form button:hover{
    filter: brightness(90%);
}

.input-group{
    display: flex;
}

.input-group input + input{
    margin-left: 8px;
}

